<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Manager</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>
<body>
  <div class="hero">
    <div class="hero-text">
      <h1>Welcome</h1>
      <p><a href="{% url 'login' %}">Login</a> to view recipes.</p>
      <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
    </div>
    <div class="hero-image">
      <img src="{% static 'img/home-placeholder-img.svg' %}" alt="Placeholder">
    </div>
  </div>
</body>
</html>
