<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'auth/css/login.css' %}">
</head>
<body>
    <h1>Login</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
</body>
</html>